* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
section {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 10px 0 dimgray;
  position: fixed;
  top: 0;
  right: 0;
  /* position: sticky; */
  z-index: 1000;
  /* background-color: yellow; */
}

.bar1 {
  width: 80%;
  margin: auto;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar1 a img {
  height: 40px;
}
.bar1 ul {
  display: flex;
  list-style-type: none;
}
.bar1 ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 20px;
}
.bar1 ul li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #c4c4f7;
  transition: all 0.5s;
}

.bar1 ul li a:hover::after {
  width: 100%;
  color: crimson;
}
.bar1 ul li a:hover {
  color: crimson;
  transform: scale(1.3);
  transition: 0.5s;
}
.bar1 .icon-box {
  display: flex;
  gap: 10px;
  font-size: 15px;
}
.bar1 .icon-box i:hover {
  color: #f1c40f;
  transform: scale(1.5);
  transition: 0.3s;
  cursor: pointer;
}
/* header */

main {
  display: flex;
  /* border: 1px solid red; */
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 250px 10%;
}
.content-left h1 {
  font-size: 45px;
  color: black;
  line-height: 40px;
}
.content-left span {
  color: #f1c40f;
}
.content-left p {
  margin-top: 40px;
  font-size: 15px;
  color: black;
}
.content-left .btn {
  display: inline-block;
  width: 130px;
  text-decoration: none;
  background-color: #f1c40f;
  margin-top: 40px;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  gap: 5px;
}
.content-left .btn i {
  font-size: 20px;
}
.content-left .btn:hover {
  background-color: #c4c4f7;
}

.content-left {
  width: 50%;
  /* background-color: yellow; */
}
.content-right {
  margin-left: 10px;
  margin-top: 10px;
  /* background-color: yellow; */
}
.hero-img {
  width: 500px;
  height: auto;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 100px 5%; */
}
.food-img {
  max-width: 550px;
  height: auto;
}
.txt {
  width: 50%;
  margin-bottom: 80px;
}
.txt h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 70px;
}
.txt span {
  color: #f1c40f;
}
.txt h2 {
  margin-bottom: 50px;
  margin-top: -20px;
}
.txt .btn {
  display: inline-block;
  text-decoration: none;
  background-color: #f1c40f;
  margin-top: 70px;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
}
.txt .btn:hover {
  background-color: #c4c4f7;
}
.sec-2 {
  width: 100%;
  height: 100vh;
}
.title-box {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.title-box span {
  color: #f1c40f;
  border-bottom: 3px solid #f1c40f;
}
.item-container {
  width: 80%;
  /* background-color: pink; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
.item-container .item {
  width: 24.5%;
  height: 350px;
  /* background-color: blue; */
}
.item-container .item .img-box {
  width: 100%;
  height: 50%;
  background-color: orange;
}
.item-container .item .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-container .item .content {
  width: 100%;
  height: 50%;
  /* background-color: green; */
  text-align: center;
}
