* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.container {
  width: 100%;
  /* background-color: pink; */
}
.container .menu-bar {
  width: 80%;
  margin: auto;
  /* background-color: red; */
}
.menu-bar ul {
  display: flex;
}
.menu-bar ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  padding: 10px 15px;
}
.menu-bar .sub-menu:hover .sub-content {
  display: flex;
  transition: all 0.2s ease-in-out;
}
.menu-bar .sub-content {
  display: none;
  width: 100vw;
  /* background-color: gray; */
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);

  position: fixed;
  flex-direction: column;
  left: 0;
  padding: 10px 10vw;
}
.sub-menu:hover .sub-content {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.sub-menu .sub-content .top-header {
  font-size: 20px;
  /* margin-bottom: 20px; */
  margin-block: 15px;
  color: black;
}
.sub-content a:hover {
  text-decoration: underline;
}
.sub-menu .sub-content li a {
  font-size: 15px;
  color: black;
  padding: 0;
  margin-bottom: 8px;
  /* transform: scale(1.2); */
  /* transition: all 0, 2s ease-in; */
}
.sub-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-content .content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub-content .top-header {
  transform: scale(1);
}
.sub-menu .sub-content li a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
