* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  /* font-family: "Angkor", serif; */
  font-family: "Suwannaphum", serif;
}
.bar1 {
  width: 100%;
  background-color: black;
}
.bar1 .header {
  width: 80%;
  margin: auto;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bar1 .header img {
  height: 70px;
}
.bar1 .header .ads-slide img {
  height: 70px;
}

.bar2 {
  width: 100%;
  background-color: crimson;
}
.bar2 .menu-box {
  width: 80%;
  margin: auto;
  /* background-color: pink; */
}
.bar2 .menu-box ul {
  display: flex;
}
.bar2 .menu-box ul li a {
  /* display: block; */
  align-items: center;
  height: 60px;
  text-decoration: none;
  font-size: 20px;
  /* justify-content: center; */
  /* padding: 15px 20px; */
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: white;
  font-family: arial, "Angkor", serif;
  /* background-color: green; */
}
.bar2 .menu-box ul li a:hover {
  background-color: brown;
  cursor: pointer;
}
.bar2 .menu-box ul li a:active {
  background-color: rgba(0, 0, 0, 0.219);
}
.container {
  width: 80%;
  margin: auto;
  /* background-color: yellow; */
}
.img-container {
  width: 100%;
  height: 500px;
  /* background-color: orange; */
  margin-top: 10px;
  display: flex;
  gap: 5px;
  box-shadow: 1px 1px 4px 0 gray;
}
.img-container .slide-box {
  width: 70%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
}
.img-container .slide-box .box1 {
  width: 60%;
  height: 50%;
  background-color: blue;
  position: relative;
}
.img-container .slide-box .box1::before,
.img-container .slide-box .box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.266);
}

.img-container .slide-box .box1 img {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  object-fit: cover;
}
.img-container .slide-box .box1 .title {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: seagreen;
  color: white;
  padding: 5px 10px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
  padding-right: 30px;
  font-size: 15px;
}
.img-container .slide-box .box1 .date-box,
.img-container .slide-box .box2 .date-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.209));
  width: 100%;
  height: 40px;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  z-index: 1;
  color: white;
}
.img-container .slide-box .box1:hover .date-box,
.img-container .slide-box .box2:hover .date-box {
  background-color: black;
}
.img-container .slide-box .box1 .txt-box,
.img-container .slide-box .box2 .txt-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  padding-left: 5px;
  flex-direction: column;
  transition: 0.5s;
}
.img-container .slide-box .box1:hover .txt-box,
.img-container .slide-box .box2:hover .txt-box {
  bottom: 40px;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.174));
}
.img-container .slide-box .box1 .txt-box h1,
.img-container .slide-box .box2 .txt-box h1 {
  font-size: 15px;
  font-weight: 400;
  color: white;
}
.img-container .slide-box .box1:hover .txt-box h1,
.img-container .slide-box .box2:hover .txt-box h1 {
  color: red;
}

.img-container .slide-box .box1 .txt-box p,
.img-container .slide-box .box2 .txt-box p {
  font-size: 10px;
  color: white;
  visibility: hidden;
  font-weight: 400;
}
.img-container .slide-box .box1:hover .txt-box p,
.img-container .slide-box .box2:hover .txt-box p {
  visibility: visible;
}
.img-container .slide-box .box2 .title {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: seagreen;
  color: white;
  padding: 5px 10px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
  padding-right: 30px;
  font-size: 15px;
}
.img-container .slide-box .box2 {
  width: 40%;
  height: 50%;
  /* background-color: brown; */
  position: relative;
}
.img-container .slide-box .box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.146);
}

.img-container .slide-box .box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: yellow; */
}
.img-container .ads-box {
  width: 30%;
  height: 100%;
  /* background-color: green; */
}
.img-container .ads-box ul {
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.img-container .ads-box ul li {
  width: 100%;
  height: 50%;
}
.img-container .ads-box ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.img-container .ads-box ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-container .ads-box ul li a iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .bar3 {
  width: 100%;
  /* background-color: #eee; */
  margin-top: 30px;
}
.bar3 .title-box {
  width: 100%;
  /* border-bottom: pink; */
  position: relative;
}
.bar3 .title-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: crimson;
}
.bar3 .title-box h1 {
  background-color: crimson;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: 8px 20px;
  padding-right: 30px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.bar3 .title-box h1 i {
  font-size: 18px;
  margin-right: 5px;
}
.bar3 .box-new {
  width: 100%;
  height: 400px;
  /* background-color: pink; */
  padding: 20px;
  box-shadow: 1px 1px 10px 0 gray;
  display: flex;
  gap: 10px;
}
.bar3 .box-new .left-img {
  width: 30%;
  height: 100%;
  background-color: green;
}
.bar3 .box-new .left-img .img-box {
  width: 100%;
  height: 60%;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar3 .box-new .left-img .img-box img {
  width: 98%;
  height: 98%;
  object-fit: cover;
}
.bar3 .box-new .left-img .txt-box {
  width: 100%;
  height: 40%;
  background-color: gray;
}

.bar3 .box-new .right-img {
  width: 70%;
  height: 100%;
  /* background-color: blue; */
}
.bar3 .box-new .right-img ul {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1%;
}
.bar3 .box-new .right-img ul li {
  width: 24.5%;
  height: 49.5%;
  /* background-color: pink; */
}
.bar3 .box-new .right-img ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.bar3 .box-new .right-img ul li a img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}
.bar3 .box-new .right-img ul li a p {
  font-size: 13px;
  color: black;
  font-weight: 200;
  /* background-color: dimgray; */
  /* text-align: center; */
}
